@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
body{
    background: linear-gradient(111deg, #C3E1E3 17.24%, #C8C3E3 58.08%, #7E92C4 93.41%, #7EC0C4 107.33%);
    height: 100vh;
    width: 100%;
    padding: 0 1em;
}
h1{
    text-align: center;
    font-family: "Lobster";
    color: #fff;
}
.person-selector{
    margin:auto;
    display: flex;
    justify-content: center;
    padding: .8em 0;
    max-width: 37.5em;
}
.person-selector-btn{
    width: 100%;
    background-color: #7EC0C4;
    color: #f5f5f5;
    font-size: 1.1em;
    margin-left: .7em;
    font-weight: 700;
  }
  .active-person-btn {
    background: #C5E3E4;
    box-shadow: 0 0 0.5em 0.1em #c3c3c333;
  }
  
  .button {
      border: none;
      padding: 0.625em;
      border-radius: 0.5em;
      cursor: pointer;
    }
    .button:hover {
        filter: brightness(0.9);
      }
      
      .button:active {
        transform: translateY(2px);
      }
      
    .chat-container{
        background-color: #fff;
        border-radius: 0.5em;
        padding: 0.9em 1.25em;
        margin: auto;
        max-width: 37.5em;
        height: 40em;
        box-shadow: 0 0 1.25em 0.5em #c3c3c333;
    }
    .chat-header {
        margin-bottom: 1em;
        color: #252525;
        font-weight: 400;
      }
      .chat-messages {
        height: 30em;
        overflow-y: scroll;
        background-image: url(./img/HD-wallpaper-whatsapp-cartoon-skull-dark-dead-punk.jpg);
        display: flex;
        flex-direction: column;
        padding: .9em;
      }
      .chat-messages::-webkit-scrollbar {
        display: none;
      }
      .message{
        display: flex;
        flex-direction: column;
        color: #fff;
      }
      .sender-bg {
        background-color: #7EC0C4;
        padding: 0.625em;
        border-radius: .5em; 
        margin-bottom: 0.625em;
      }
      .receiver-bg{
        background-color: #C3E1E3;
        padding: 0.625em;
        border-radius: .5em; 
        margin-bottom: 0.625em;
      }
      .message-sender {
        font-weight: bold;
        margin-bottom: 0.31em;
      }
      
      .message-text {
        font-size: 1em;
        margin-bottom: 0.31em;
        word-wrap: break-word;
      }
      
      .message-timestamp {
        font-size: 0.75em;
        text-align: right;
        color: #252525;
      }
   
      .chat-input-form {
        display: flex;
        align-items: center;
        /* margin-top: 2em; */
        gap: 0.625em;
        margin-top: 1.5em;
      }
      
.chat-input {
    padding: 0.625em;
    border: none;
    outline: none;
    border-radius: 0.5em;
    background-color: #f5f5f5;
    color: #333;
    font-size: 1em;
    flex-grow: 1;
  }
  .chat-input:focus{
    outline: 2px solid #7EC0C4;
  }
  .send-btn {
    background-color: #7EC0C4;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
  }
  .clear-chat-btn {
    display: block;
    margin: 2.5em auto;
  }